Semester_2 (Advanced Level - Back End)/DB_Aps/XML_Basic_HW/StudentsXML/students1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="urn:students" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="name" type="xs:string" />
  <xs:element name="gender" type="xs:string" />
  <xs:element name="birth-date" type="xs:date" />
  <xs:element name="phone-number" type="xs:string" />
  <xs:element name="email" type="xs:string" />
  <xs:element name="university" type="xs:string" />
  <xs:element name="speciality" type="xs:string" />
  <xs:element name="faculty-number" type="xs:unsignedInt" />
  <xs:element name="exams">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="exam">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="exam-name" type="xs:string" />
              <xs:element name="date-taken" type="xs:date" />
              <xs:element name="grade" type="xs:unsignedByte" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>